*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
}

.highScores, #timer {
    color: #497980;
    font-size: 20px;
    margin: 5px 10px;
}

section div {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #497980;
    font-size: 30px;
    font-weight: bolder;
}

section h1 {
    border-bottom: 2px solid #f4a261;
    width: 75%;
    text-align: center;
}

section p {
    margin: 0 100px;
    line-height: 1.5;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}

#btn {
    margin: 30px;
    padding: 10px 50px;
    font-size: 25px;
    color: #497980;
    background-color: #e8f1f2;
    border-radius: 15px;
}

.quizInfo {
    display: none;
    margin: 50px auto;
}

.quizInfo ul li {
    display: block;
    text-decoration: none;
}

#questionText {
    line-height: 1.5;
    font-size: 25px;
    font-weight: lighter;
}

#btnA, #btnB, #btnC, #btnD {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    color: #497980;
    background-color: #e8f1f2;
    border-radius: 10px;
}




